* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

main {
    padding: 0;
    display: block;
}

#background-video {
    position: fixed;
    bottom: 0;
    margin-left: -100px;
    z-index: -1;
    opacity: 0.6;
}

.title-responsivo {
    display: none;
}

section {
    background-color: rgb(226, 182, 88);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-top: 15%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 90px;
    height: 90px;
    animation: girar 7s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 100px;
    color: rgb(73, 4, 185);
}

.icones {
    display: flex;
    margin-top: 5px;
    gap: 50px;
}

button {
    font-size: 80px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacty 0.5s ease-in-out;
}

button:hover {
    opacity: 0.6;
    color: rgb(7, 7, 7);
}

#pedra {
    background-color: rgba(0, 255, 242, 0.973);
}

#papel {
    background-color: rgba(113, 230, 90, 0.973);
}

#tesoura {
    background-color: rgba(255, 230, 0, 0.973);
}

.placar {
    position: absolute;
    margin-top: 18%;
    display: flex;
    text-align: center;
    width: 90%;
    align-items: center;
    gap: 10%;
    justify-content: center;
}

.box-center {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
    text-align: center;
}

.result {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    color: #000000;
    font-weight: bold;
}

#zerar {
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(236, 121, 13);
    color: #ffffff;
}

#button-name {
    width: 120px;
    font-size: 20px;
    background-color: rgb(13, 32, 236);
}

.jogadas {
    font-size: 45px;
}

.jogadores {
    display: flex;
    gap: 10%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    margin-top: 20%;
}

.contener01 {
    display: flex;
}

#paragrafoX {
    display: none;
}

.contener02 {
    display: flex;
}

.animation-human-result {
    width: 75px;
    margin-left: -10px;
}

.animation-vs-result {
    width: 60px;
}

.animation-robo-result {
    width: 45px;
    margin-right: 0%;
}

h2 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -10px;
}

#player {
    color: rgb(81, 81, 236);
}

#com {
    color: rgba(223, 62, 22, 0.87);
}

.avatar {
    display: none;
}

@media screen and (max-width: 900px) {

    body {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        background-color: aquamarine;
    }

main {
    margin: 0, 0, 0, 0;
    padding: 0;
}
    section {
        background-color: rgb(226, 182, 88);
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 0;
        align-items: center;
        position: relative;
        margin-top: 0;
    }

    #background-video {
        display: none;
    }

    .title {
        display: none;
    }

    .title-responsivo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    h1 {
        font-size: 50px;
        color: rgb(73, 4, 185);
        text-align: center;
    }

    #logo {
        width: 45px;
        height: 45px;
        animation: girar 7s linear infinite;
    }

    .icones {
        display: flex;
        margin-top: 10px;
        gap: 30px;
    }

    .placar {
        position: relative;
        margin-top: 1%;
        display: flex;
        text-align: center;
        width: 90%;
        align-items: center;
        gap: 10%;
        justify-content: center;
    }

    .result {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        color: #000000;
        font-weight: bold;
        text-align: center;
    }

    #zerar {
        width: 100px;
        font-size: 20px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        margin-top: 5px;
        padding: 5px;
    }

    .jogadores {
        display: flex;
        gap: 10%;
        background-color: #ffffff;
        border-radius: 10px;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 1%;
        padding: 5px;
    }

    .contener01 {
        display: flex;
    }

    #paragrafoX {
        display: flex;
        font-size: 45px;
        text-align: center;
        margin-top: 12px;
        color: rgb(236, 121, 13);
        font-weight: bold;
    }

    .contener02 {
        display: flex;
    }

    .animation-human-result {
        display: none;
    }

    .animation-vs-result {
        display: none;
    }

    .animation-robo-result {
        display: none;
    }

    h2 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }

    #player {
        color: rgb(81, 81, 236);
        font-size: 60px;
    }

    #com {
        color: rgba(223, 62, 22, 0.87);
        font-size: 60px;
    }

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 1%;
        margin-top: 0;
        background-color: aquamarine;
    }

    .avatar-humano {
        height: 220px;
        margin-left: -50px;
    }

    .vs-responsivo {
        margin-left: -50px;
        width: 90px;
        margin-top: -55px;
    }

    .avatar-robo {
        height: 190px;
    }

}