* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-video-mobile {
    display: none;
}


body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

#background-video {
    position: fixed;
    bottom: 0;
    margin-left: -100px;
    z-index: -1;
    opacity: 0.6;
}

section {
    background-color: rgb(226, 182, 88);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-top: 15%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 90px;
    height: 90px;
    animation: girar 7s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

h1 {
    font-size: 100px;
    color: rgb(73, 4, 185);
}

.icones {
    display: flex;
    margin-top: 5px;
    gap: 50px;
}

button {
    font-size: 80px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacty 0.5s ease-in-out;
}

button:hover {
    opacity: 0.6;
    color: rgb(7, 7, 7);
}

#pedra {
    background-color: rgba(0, 255, 242, 0.973);
}

#papel {
    background-color: rgba(113, 230, 90, 0.973);
}

#tesoura {
    background-color: rgba(255, 230, 0, 0.973);
}

.placar {
    position: absolute;
    margin-top: 18%;
    display: flex;
    text-align: center;
    width: 90%;
    align-items: center;
    gap: 10%;
    justify-content: center;
}

.box-center {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
    text-align: center;
}

.result {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    color: #000000;
    font-weight: bold;

}

#zerar {
    width: 90px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(236, 121, 13);
    color: #ffffff;
}

.jogadas {
    font-size: 45px;
}

.jogadores {
    display: flex;
    gap: 11%;
    background-color: #ffffff;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    margin-top: 20%;
}

.contener01 {
    display: flex;
}

.contener02 {
    display: flex;
}

.animation-human-result {
    width: 75px;
    margin-left: -10px;
}

.animation-vs-result {
    width: 60px;
}

.animation-robo-result {
    width: 45px;
    margin-right: 0%;
}

h2 {
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: -10px;
}

#player {
    color: rgb(81, 81, 236);
}

#com {
    color: rgba(223, 62, 22, 0.87);
}

@media only screen and (max-width: 600px) {

    body {
        display: flex;
        justify-content: center;
        min-height: 100vh;
    }

    #background-video {
        display: none;
    }

    #background-video-mobile {
        position: fixed;
        bottom: 0;
        z-index: -1;
        opacity: 0.6;
        height: 100%;
        display: flex;
    }

    .title {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    h1 {
        font-size: 70px;
        color: rgb(73, 4, 185);
        text-align: center;
    }

    #logo {
        width: 50px;
        height: 50px;
        animation: girar 7s linear infinite;
    }

    .placar {
        position: absolute;
        margin-top: 44%;
        display: flex;
        text-align: center;
        width: 90%;
        align-items: center;
        gap: 10%;
        justify-content: center;
    }

    .jogadores { 
        display: flex;
        gap: 5px;
        background-color: #ffffff;
        border-radius: 10px;
        justify-content: center;
        margin-top: 25%;
        padding: 5px;
       
    }

   .contener01 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   }

   .contener02 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    
   }
    .animation-human-result {
        width: 150px;
        margin-top: 1px;
        margin-left: 1px;
        
    }
    
    .animation-vs-result {
        width: 60px;
        margin-right: 15px;
    }
    
    .animation-robo-result {
        width: 100px;
       
    }
    
    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
    }
    
    #player {
        color: rgb(81, 81, 236);
    }
    
    #com {
        color: rgba(223, 62, 22, 0.87);
    } 
    
}